{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/imgs/i8.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/imgs/i4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/imgs/i14.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <div class="carousel-caption d-none d-md-block">
            <h5>Shibucart</h5>
            <p>Your One-Stop Shop for All Your Needs.</p>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<h1 class="my-2 text-center">Explore Us</h1>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-3">
    <div class="col">
        <div class="card shadow-sm ">
            <img src="/static/imgs/i1.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer, just go ahead and check you would love it.Dive into the content below for an enriching experience.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        
                        <button type="button" class="btn btn-outline-dark" onclick="window.location.href = 'https://www.flipkart.com/search?q=shirts&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off;'">View</button>
                    </div>
                    <small class="text-body-secondary">50 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col my-3">
        <div class="card shadow-sm ">
            <img src="/static/imgs/i5.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
                <p class="card-text">Trendy and Versatile:

                    "Stay ahead of the fashion curve with our trendy and versatile."
                    "From casual outings to special events, our Shibucart is your go-to choice for effortless style."
                    </p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        
                        <button type="button" class="btn btn-outline-dark" onclick="window.location.href = 'https://www.flipkart.com/search?q=t+shirts+for+men&sid=clo%2Cash%2Cank%2Cedy&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_9_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_9_na_na_na&as-pos=1&as-type=RECENT&suggestionId=t+shirts+for+men%7CMen%27s+T-shirts&requestId=deb8554c-d7d3-4144-b8ec-5b2739fddf46&as-backfill=on;'">View</button>
                    </div>
                    <small class="text-body-secondary">13 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col my-3">
        <div class="card shadow-sm">
            <img src="/static/imgs/i9.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
                <p class="card-text">Stylish and Comfortable:

                    "Elevate your wardrobe with our stylish and comfortable. Perfect for any occasion!"Experience ultimate comfort and style with our latest comfort and style with our latest"</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        
                        <button type="button" class="btn btn-outline-dark" onclick="window.location.href = 'https://www.flipkart.com/search?q=%20stitch%20&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off;'">View</button>
                    </div>
                    <small class="text-body-secondary">29 mins</small>
                </div>
            </div>
        </div>
    </div>

    <div class="col my-3">
        <div class="card shadow-sm">
            <img src="/static/imgs/i16.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
                <p class="card-text">Unique Designs:

                    "Make a statement with our unique and eye-catching. Stand out from the crowd!"
                    "Express your individuality with our exclusive collection of Shbucart."</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        
                        <button type="button" class="btn btn-outline-dark" onclick="window.location.href = 'https://www.flipkart.com/search?q=ladies+pants&sid=clo%2Cvua%2Cmle%2C8ie&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_12_na_na_na&as-pos=1&as-type=RECENT&suggestionId=ladies+pants%7CWomen%27s+Trousers&requestId=cb3497f1-9d90-49be-92b8-6dcfdb39c8b3&as-searchtext=ladies%20pants;'">View</button>
                    </div>
                    <small class="text-body-secondary">44 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col my-3">
        <div class="card shadow-sm">
            <img src="/static/imgs/i6.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
                <p class="card-text">Easy Care:

                    "Simplify your life with our easy-care. Simply wash and wear for effortless maintenance."
                    "Busy schedule? Our low-maintenance, lets you focus on what matters most."</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        
                        <button type="button" class="btn btn-outline-dark" onclick="window.location.href = 'https://www.flipkart.com/search?q=dresses+for+women&sid=clo%2Codx%2Cmaj%2Cjhy&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_ps&otracker1=AS_QueryStore_OrganicAutoSuggest_1_5_na_na_ps&as-pos=1&as-type=RECENT&suggestionId=dresses+for+women%7CWomen%27s+Dresses&requestId=b08b47ec-efc3-4cd7-a784-840543158c80&as-searchtext=%20dress;'">View</button>
                    </div>
                    <small class="text-body-secondary">1 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col my-3">
        <div class="card shadow-sm">
            <img src="/static/imgs/i19.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
                <p class="card-text">Perfect Fit:

                    "Discover the perfect fit with our range of sizes and styles in ShubuCart."
                    "Tailored to perfection,ensures a flattering silhouette every time."</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        
                        <button type="button" class="btn btn-outline-dark" onclick="window.location.href = 'https://www.flipkart.com/search?q=fashionable+pants+for+women&sid=clo&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_23_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_23_na_na_na&as-pos=2&as-type=RECENT&suggestionId=fashionable+pants+for+women%7CClothing+and+Accessories&requestId=7f80afae-a964-4a37-a374-3f20bec89f65&as-searchtext=fashionable%20womens%20pant;'">View</button>
                    </div>
                    <small class="text-body-secondary">0 mins</small>
                </div>
            </div>
        </div>
    </div>

    <div class="col my-3">
        <div class="card shadow-sm">
            <img src="/static/imgs/ff.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        
                        <button type="button" class="btn btn-outline-dark" onclick="window.location.href = 'https://www.flipkart.com/search?q=formal%20shirts&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off;'">View</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col my-3">
        <div class="card shadow-sm">
            <img src="/static/imgs/i11.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
                <p class="card-text">Timeless Classics:

                    "Invest in timeless classics with our collection.. These wardrobe essentials never go out of style."
                    "Elevate your look with our timeless and sophisticated."</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        
                        <button type="button" class="btn btn-outline-dark" onclick="window.location.href = 'https://www.flipkart.com/search?q=stylish+t+shirts+for+men&sid=clo%2Cash%2Cank%2Cedy&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_16_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_16_na_na_na&as-pos=1&as-type=RECENT&suggestionId=stylish+t+shirts+for+men%7CMen%27s+T-shirts&requestId=261efe20-5c66-4343-9211-dc2c5361e3d7&as-searchtext=stylish%20t%20shirts;'">View</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col my-3">
        <div class="card shadow-sm">
            <img src="/static/imgs/5f.jpg" class="d-block w-100" alt="...">
            <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        
                        <button type="button" class="btn btn-outline-dark" onclick="window.location.href = 'https://www.flipkart.com/search?q=hoodie+for+men&sid=clo%2Cqvw%2C64a%2Cvui&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=RECENT&suggestionId=hoodie+for+men%7CMen%27s+Sweatshirts&requestId=07e16237-b095-4193-9cc6-61d2372c7c81&as-searchtext=hood;'">View</button>
                    </div>
                    <small class="text-body-secondary">9 mins</small>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
